#-------------#
# Ant Worrior #
#-------------#

# Per user game settings
settings.json

#--------------------#
# Visual Studio Code #
#--------------------#

.vscode/*
*.code-workspace

# Recommended extensions
!.vscode/extensions.json

# Local History for Visual Studio Code
.history/

#-------#
# Meson #
#-------#

/builddir

#-----#
# C++ #
#-----#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
