[Desktop Entry]
Type=Application
Name=AntWare
Icon=io.github.yamanqd.antware
Exec=run_antware.sh
Comment=An FPS game.
Categories=Game;
Terminal=false
